Source: ipu6-camera-bins
Section: libs
Priority: optional
Build-Depends:
 debhelper-compat (= 12),
 libexpat-dev,
Standards-Version: 4.5.0
Maintainer: Commercial Engineering <commercial-engineering@canonical.com>
Vcs-Browser: https://github.com/intel/ipu6-camera-bins
Vcs-Git: https://github.com/intel/ipu6-camera-bins.git

Package: libipu6
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: API for Intel IPU6 camera
 This package contains shared libraries for using Intel IPU6 camera.

Package: libipu6-dev
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libipu6 (= ${binary:Version}),
 pkg-config,
Description: API for Intel IPU6 camera (development files)
 This package contains header files and static library for Intel IPU6 camera
 development.
